[Unit]
Description=streamlit app
After=network.target

[Service]
User=odfastapi
Group=odfastapi
Workingdirectory=/home/odfastapi/object_detection_app/object-detection-app/src
Environment="PATH=/home/odfastapi/object_detection_app/venv/bin"
ExecStart=/home/odfastapi/object_detection_app/venv/bin/streamlit run od_app.py --server.port==8501 --server.adress==0.0.0.0 

[Install]
WantedBy=multi-user.target